.nap {
  /*color: #f8fcff;    */
  color: #337ab7;
  font-size: medium;

}   
.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, .15);
   color: #337ab7;
   text-align: center;
   font-family: 'Bree Serif', serif;
   
}

.panel {
  width: 100%;
 
  
}

h1 {
 color: green;

}