.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: blue;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.login-help a {
  /*color: #cce7fa; */
  color: red;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}
